importFrom("deSolve", "ode")
importFrom("dplyr", "group_by", "summarise")
importFrom("ggplot2", "coord_cartesian", "element_blank", "element_text", "labs", "scale_linetype_discrete", "scale_colour_gradientn", "scale_x_log10", "scale_y_log10", "theme", "theme_bw", "qplot")
importFrom("grid", "unit")
importFrom("gridExtra", "grid.arrange")
importFrom("shiny", "runApp")
importFrom("locfit", "lp", "locfit")
export("signal", "fitCV", "genRatioHeatmap", "genTimeSteadyStateHeatmap", "getBreaks10", "getSpacedSeq", "plotPrimordiumProfile", "ratioSteadyState", "ratioTimeDependent", "simulatedSignal", "simulatedSignalN", "simulatedRatio", "tss", "x0ss", "x1", "x1ss", "x1fretFP1", "x1fretFP1ss")
export("runChooseFP2App", "runTimerModellingApp")
